NODE_ENV="development"
PORT=4000
DATABASE_URL="postgresql://root:root@localhost:5432/almohada_rey?schema=public"
WEB_URL="http://localhost:3000" # Cambiar esto a la URL del frontend
DOCKER_INTERNAL_URL="http://localhost:3000" # A cambiar en produccion, a direcciones de docker
WEB_DOMAIN="" # dominio para las cookies en produccion

JWT_SECRET='G4t17o' # Cambiar esto a un secreto más seguro
JWT_EXPIRES_IN='1h' # Cambiar esto a un tiempo de vencimiento más seguro
JWT_REFRESH_SECRET='R3fr35h' # Cambiar esto a un secreto de refresco más seguro
JWT_REFRESH_EXPIRES_IN='7d' # Cambiar esto a un tiempo de vencimiento más seguro
COOKIE_EXPIRES_IN=3600000  # Camniar esto a un tiempo de vencimiento de la cookie en milisegundos 1h
COOKIE_REFRESH_EXPIRES_IN=604800000  # Camniar esto a un tiempo de vencimiento de la cookie en milisegundos 7d
