NODE_ENV="development"
PORT=4000
DATABASE_URL="postgresql://admin:admin@localhost:5432/almohadarey?schema=public"


WEB_URL="http://localhost:3000" # Cambiar esto a la URL de la aplicación web

#Tokens
JWT_SECRET='G4t17o' # Cambiar esto a un secreto más seguro
JWT_EXPIRES_IN='1h' # Cambiar esto a un tiempo de vencimiento más seguro
JWT_REFRESH_SECRET='R3fr35h' # Cambiar esto a un secreto de refresco más seguro
JWT_REFRESH_EXPIRES_IN='7d' # Cambiar esto a un tiempo de vencimiento más seguro
COOKIE_EXPIRES_IN=3600000  # Camniar esto a un tiempo de vencimiento de la cookie en milisegundos 1h
COOKIE_REFRESH_EXPIRES_IN=604800000  # Camniar esto a un tiempo de vencimiento de la cookie en milisegundos 7d

JWT_RESET_PASSWORD_EXPIRES_IN='5m' # Expiración del token de restablecimiento de contraseña en 5 minutos

#EMail 
MAIL_HOST = "" # Cambiar esto a un servidor de correo más seguro
MAIL_PORT =  # Cambiar esto a un puerto de correo más seguro
MAIL_USER = "" # Cambiar esto a un usuario de correo más seguro
MAIL_PASS = "" # Cambiar esto a una contraseña de correo más segura
