services:
  {{ project_name }}-backend-{{ project_stage }}:
    image: ${{ project_name | upper }}_BACKEND_REGISTRY_URL:${{ project_name | upper }}_BACKEND_VERSION
    container_name: {{ project_name }}-backend-{{ project_stage }}
    restart: unless-stopped
    depends_on:
      {{ project_name }}-db-{{ project_stage }}:
        condition: service_healthy
    environment:
      - TZ=America/Lima
    env_file:
      - .env.backend
      - .env.database
    networks:
      - traefik3_proxy
      - {{ project_name }}-network-{{ project_stage}}
    labels:
      - "traefik.enable=true"

      - "traefik.http.routers.almohada-backend-ws.rule=Host(`almohada-backend-develop.acide.win`) && PathPrefix(`/socket.io`)"
      - "traefik.http.routers.almohada-backend-ws.priority=45"
      - "traefik.http.routers.almohada-backend-ws.service=almohada-backend-develop"
      - "traefik.http.routers.almohada-backend-ws.entrypoints=websecure"
      - "traefik.http.routers.almohada-backend-ws.tls=true"
      - "traefik.http.routers.almohada-backend-ws.tls.certresolver=dns-cloudflare"
      - "traefik.http.routers.almohada-backend-ws.tls.domains[0].main=acide.win"
      - "traefik.http.routers.almohada-backend-ws.tls.domains[0].sans=*.acide.win"
      - "traefik.http.services.almohada-backend-ws.loadbalancer.server.port=5000"

      - "traefik.http.routers.almohada-backend-develop.rule=Host(`almohada-backend-develop.acide.win`)"
      - "traefik.http.routers.almohada-backend-develop.priority=44"
      - "traefik.http.routers.almohada-backend-develop.service=almohada-backend-develop"
      - "traefik.http.routers.almohada-backend-develop.entrypoints=websecure"
      - "traefik.http.routers.almohada-backend-develop.tls=true"
      - "traefik.http.routers.almohada-backend-develop.tls.certresolver=dns-cloudflare"
      - "traefik.http.routers.almohada-backend-develop.tls.domains[0].main=acide.win"
      - "traefik.http.routers.almohada-backend-develop.tls.domains[0].sans=*.acide.win"
      - "traefik.http.services.almohada-backend-develop.loadbalancer.server.port=4000"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:4000/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 2
      start_period: 50s

